#myPost {
  font-size: 1em;
  border-style:  none;
  border-radius: 10px;
  background-color: #E9E9E9;
  
  padding:  9px;
  padding-bottom: 4px;
  text-align: justify;
}
#myTime{
  text-align: right;
  margin-top: 2px;
  font-size: 0.74em;
  color: black;
  opacity: 0.60;
}

#user-photo{
    text-align: center;
    border: 1px solid #eeeeee;
}

#change-avatar {
    text-align: right;
    margin-top:8px;  
}

#create-post-button{
    text-align: right;
    margin-top: -7px;
}

.top-profile-element{
    margin-top: 0px;
}

.group-container{
    margin-left: 15px;
}

.thumbnail{
    margin-bottom: 15px !important;
    padding: 15px;
    border-color: #eeeeee;
}

