{% extends "base.html" %}
{% block header %} 



{% for user in users %}
    {% if user != g.user %}
    <div class="media thumbnail">
        <a href="{{url_for('users.profile', id = user.id)}}">
            <div class="media-left ">
                
                <img class="media-object" src="{{user.photo}}" width="80" height="80">
            
            </div>
            <div class="media-body media-middle">
                <h3> {{user.name}}</h3>
            </div>
         </a>
    </div>

       
    {% endif %}
{% endfor %}

{% endblock %}



