{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}
{% block profile %} 


      <form action="/register"  class = "form form-horizontal" method="POST">
            {% for field in form %}
                  {{form_field(field)}}
            {% endfor %}

           <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">Create</button>
                        <a class="btn" href="{{ url_for('index')}}">Cancel</a>
                  </div>
            </div>

      </form>

{% endblock %}